.App {
  text-align: center;
  background: rgb(15, 15, 109);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.followers {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin: auto;
}

.follower {
  border: solid orangered 2.5px;
    background: orange;
    display: flex;
    flex-flow: row wrap;
    width: 40%;
    justify-content: center;
    align-items: center;
    margin: 2% auto;
    padding: 10px;
    border-radius: 20px;
}

.img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 2%;
}